
ion-item, ion-card-title {
    font-family: 'Montserrat', sans-serif;
}


.especialista-card ion-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .especialista-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Asegura que cada tarjeta ocupe el mismo tamaño en la columna */
  }
  
  ion-card-title {
    font-size: 1rem;
    font-weight: bold;
  }


  /* Clase para contenedor del avatar */
.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-title ion-avatar {
  width: 110px; /* Ajusta el tamaño del avatar según lo necesario */
  height: 110px;
}

ion-toolbar {
  --padding-start: 0px;
  --padding-end: 0px;
}