<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item >
    Odontólogos
  </ion-item>

  <ion-grid >
    <ion-row>
      <ion-col size="6" *ngFor="let item of odontologo">
        <ion-card [routerLink]="['/especialista/odontologo', item.id]">
          <ion-img src="{{item.imagen}}" ></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-item>
    Higienistas
  </ion-item>

  <ion-grid >
    <ion-row>
      <ion-col size="6" *ngFor="let item of higuienista">
        <ion-card [routerLink]="['/especialista/higienistas', item.id]">
          <ion-img src="{{item.imagen}}" ></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-item>
    Auxiliares
  </ion-item>

  <ion-grid >
    <ion-row>
      <ion-col size="6" *ngFor="let item of auxiliares">
        <ion-card [routerLink]="['/especialista/auxiliar', item.id]">
          <ion-img src="{{item.imagen}}" ></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-item>
    Atencion al Paciente
  </ion-item>
  <ion-grid >
    <ion-row>
      <ion-col size="6" *ngFor="let item of atencionAlcliente">
        <ion-card [routerLink]="['/especialista/atencion', item.id]">
          <ion-img src="{{item.imagen}}" ></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>

