<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    Atencion al cliente
  </ion-item>
  <ion-grid *ngFor="let item of equipo">
    <ion-row>
      <ion-col style="font-size: 50%;">
        <ion-card [routerLink]="['/especialista', item.id]">
          <ion-img src="{{item.imagen}}" ></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>

