<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content *ngFor="let tipo of tiposEspecialistas">
      <ion-item>{{tipo.nombre}}</ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let item of tipo.datos">
            <ion-card [routerLink]="['/especialista', tipo.tipo, item.id]">
              <ion-img [src]="item.imagenUrl"></ion-img>
              <ion-card-header>
                <ion-card-title>{{item.nombre}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

