<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      <ion-icon slot="end" name="basket" routerLink="/carrito"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-searchbar animated="true" placeholder="Busca tu producto" [(ngModel)]="searchTerm" (ionChange)="buscarProductos()"></ion-searchbar>
    <ion-list *ngFor="let item of store" lines="none">
      <ion-item [routerLink]="['/producto', item.id]">
        <ion-avatar slot="start">
          <ion-img [src]="item.imagenUrl"></ion-img>
        </ion-avatar>
        <ion-label> {{item.nombre}} </ion-label>
        <ion-label>{{item.precio}}€</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

</ion-content>


