<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-equipo"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card-content *ngIf="empleado">

    <form style="text-align: center;" >
      <ion-item>
        <ion-icon name="person" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input name="nombre" placeholder="{{empleado.nombre}}" [(ngModel)]="editarEmpleado.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input id="movil" name="descripcion" placeholder="{{empleado.descripcion}}" [(ngModel)]="editarEmpleado.descripcion"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-icon name="person" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input name="foto" type="file" placeholder="{{empleado.foto}}" [(ngModel)]="editarEmpleado.foto"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-select name="tipo" label="De que trabaja" label-placement="stacked" placeholder="{{empleado.tipo}}" [(ngModel)]="editarEmpleado.tipo">
          <ion-select-option>Atencion al cliente</ion-select-option>
          <ion-select-option>Odontologos</ion-select-option>
          <ion-select-option>Auxiliares</ion-select-option>
          <ion-select-option>Higienistas</ion-select-option>
        </ion-select>
      </ion-item>
      
      
      <br>
      <ion-button (click)="editar()"> Editar </ion-button>
    </form>
  
  </ion-card-content>
</ion-content>
