img {
    padding:2em;
    width: 100%;
    height: auto;
  }

  .arrow-button {
    position: absolute;
    top: 50%;
    font-size: 24px;
  
  }
  
  .arrow-button:last-child {
    margin-left: 5px;
    padding-right: 19px;
    right: 0;
  }

  /* Clase para contenedor del avatar */
.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raton-menu {
  width: 110px; /* Ajusta el tamaño del avatar según lo necesario */
  height: 110px;
}

ion-toolbar {
  --padding-start: 0px;
  --padding-end: 0px;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;             /* Ocupa el 100% del ancho del contenedor */
  height: 0;               /* Altura inicial en 0 */
  padding-bottom: 100%;    /* Hace que el contenedor sea un cuadrado (100% del ancho) */
  position: relative;      /* Para posicionar la imagen dentro del contenedor */
  overflow: hidden;        /* Esconde el desbordamiento */
}

.carrusel-image {
  width: 100%;             /* Ocupa el 100% del ancho del contenedor */
  height: 100%;            /* Ocupa el 100% del alto del contenedor */
  object-fit: cover;       /* Mantiene la relación de aspecto, recortando si es necesario */
  position: absolute;      /* Posiciona la imagen sobre el contenedor */
  top: 0;                  /* Alinea la imagen al principio del contenedor */
  left: 0;                 /* Alinea la imagen al inicio del contenedor */
}
  