<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-item>
        <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
          <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
          </ion-img>
        </ion-avatar>
        
      </ion-item>
    </ion-toolbar>
  </ion-header>
</ion-content>
