
<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: var(--ion-safe-area-top); padding-inline: 10px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/icon.png">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="resetPassword()" *ngIf="modoContrasena">
    <ion-item>
      <ion-label position="floating">{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>
     <ion-button expand="full" type="submit">{{ 'CHANGE_PASSWORD.CHANGE_BUTTON' | translate }}</ion-button>
  </form>
</ion-content>