
<ion-header [translucent]="true">
  <ion-toolbar style="padding: 10px; padding-top: var(--ion-safe-area-top); padding-inline: 10px;">
    <ion-icon class="toolbar-icon" slot="start" name="chevron-back-outline" (click)="volver()"></ion-icon>
    <ion-label class="toolbar-label"> {{ 'ACCOUNT.TITLE' | translate }} </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="centered-content" style="margin-top:25%;">
  <div class="top-content">
    <ion-label>{{ 'ACCOUNT.REMEMBER_PASSWORD' | translate }}</ion-label>
    <ion-item>{{ usuario.correo }}</ion-item>
    <div class="button-container">
      <ion-button class="delete-button" shape="round" (click)="showActionSheet('correo')">
        {{ 'ACCOUNT.UPDATE_EMAIL' | translate }}</ion-button>
    </div>
    
    <ion-label class="forgot-password">
      <a (click)="cambioContrasena()">{{ 'ACCOUNT.FORGOT_PASSWORD' | translate }}</a>
    </ion-label>
  </div>
  <div class="button-container">
    <ion-button class="delete-button" shape="round"  (click)="eliminar()">
      {{ 'ACCOUNT.DELETE_ACCOUNT' | translate }}</ion-button>
  </div>
  <div class="button-container">
    <ion-button shape="round" (click)="logout()" routerLink="/inicio-sesion">
      {{ 'ACCOUNT.LOGOUT' | translate }}
    </ion-button>
  </div>



  <div class="verification-container" *ngIf="enviado">
    <ion-icon name="mail-outline" class="verification-icon"></ion-icon>
    <h2>{{ 'ACCOUNT.VERIFICATION_SENT_TITLE' | translate }}</h2>
    <p>{{ 'ACCOUNT.VERIFICATION_SENT_MESSAGE' | translate }}
      <strong>{{ usuario.correo }}</strong>.</p>

    <p>{{ 'ACCOUNT.NOT_RECEIVED' | translate }}</p>
    <ion-button expand="block" (click)="reenviarCorreo()">{{ 'ACCOUNT.RESEND_EMAIL' | translate }}</ion-button>
    
    <ion-button color="primary" expand="block" (click)="verificarEstado()">>{{ 'ACCOUNT.ALREADY_VERIFIED' | translate }}</ion-button>
  </div>
</ion-content>
