
<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: var(--ion-safe-area-top); padding-inline: 10px;">
    <ion-icon *ngIf="isAjustes" class="toolbar-icon" slot="start" name="chevron-back-outline" [routerLink]="['/tabs/perfil', usuarioActual.uid]"></ion-icon>
    <ion-icon *ngIf="!isAjustes" class="toolbar-icon" slot="start" name="chevron-back-outline" (click)="volver()"></ion-icon>
    <ion-label *ngIf="isCondicionUso" class="toolbar-label">{{ 'TERMS_OF_USE' | translate }}</ion-label>
    <ion-label *ngIf="isAyuda" class="toolbar-label">{{ 'HELP_CENTER' | translate }}</ion-label>
    <ion-label *ngIf="isCondicion" class="toolbar-label">{{ 'TERMS_OF_USE' | translate }}</ion-label>
    <ion-label *ngIf="isPrivacidad" class="toolbar-label">{{ 'PRIVACY' | translate }}</ion-label> 
    <ion-label *ngIf="isUSo" class="toolbar-label">{{ 'ABOUT_US' | translate }}</ion-label>
    <ion-label *ngIf="isInformacion" class="toolbar-label">{{ 'BASIC_INFO' | translate }}</ion-label>
    <ion-label *ngIf="isAjustes" class="toolbar-label">{{ 'SETTINGS' | translate }}</ion-label>
    <ion-label *ngIf="isResena" class="toolbar-label">{{ 'REVIEWS' | translate }}</ion-label>
    <ion-label *ngIf="isHistorial" class="toolbar-label">{{ 'APPOINTMENT_HISTORY' | translate }}</ion-label>
    <ion-label *ngIf="isPago" class="toolbar-label">{{ 'SUBSCRIPTIONS' | translate }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="isCondicionUso">
  <div class="container" style="margin: 5px;">
   <p><strong>{{ 'LEGAL_OWNER' | translate }}</strong>, {{ 'LEGAL_INFO' | translate }}</p>
    <p>{{ 'LEGAL_RESIDENCE' | translate }}</p>
    <h2>{{ 'SUMMARY' | translate }}</h2>
    <ul>
       <li>{{ 'SUMMARY_AGE' | translate }}</li>
      <li>{{ 'SUMMARY_CONTENT_RESPONSIBILITY' | translate }}</li>
      <li>{{ 'SUMMARY_USER_RESPONSIBILITY' | translate }}</li>
      <li>{{ 'SUMMARY_COMMUNITY_RULES' | translate }}</li>
      <li>{{ 'SUMMARY_PRIVACY_POLICY' | translate }}</li>
    </ul>
    
   <h2>{{ 'LEGAL_SECTION' | translate }}</h2>
    <p>{{ 'LEGAL_APP_DESC' | translate }}</p>

     <h2>{{ 'APP_USE_RULES' | translate }}</h2>
    <h3>{{ 'WHO_CAN_USE' | translate }}</h3>
    <p>{{ 'WHO_CAN_USE_DESC' | translate }}</p>
    <p>{{ 'USER_GUARANTEE' | translate }}</p>

    <h3>{{ 'ALLOWED_CONTENT' | translate }}</h3>
    <ul>
     <li>{{ 'ALLOWED_CONTENT_1' | translate }}</li>
      <li>{{ 'ALLOWED_CONTENT_2' | translate }}</li>
      <li>{{ 'ALLOWED_CONTENT_3' | translate }}</li>
    </ul>
    
   <h2>{{ 'PAID_SERVICES' | translate }}</h2>
    <h3>{{ 'WHAT_CAN_I_BUY' | translate }}</h3>
    <p>{{ 'WHAT_CAN_I_BUY_DESC' | translate }}</p>
    
    <h3>{{ 'PAYMENT_METHODS' | translate }}</h3>
    <ul>
       <li>{{ 'PAYMENT_METHOD_1' | translate }}</li>
      <li>{{ 'PAYMENT_METHOD_2' | translate }}</li>
      <li>{{ 'PAYMENT_METHOD_3' | translate }}</li>
    </ul>
    
    <h3>{{ 'CANCELLATION_REFUNDS' | translate }}</h3>
    <p>{{ 'CANCELLATION_REFUNDS_DESC_1' | translate }}</p>
    <p>{{ 'CANCELLATION_REFUNDS_DESC_2' | translate }}</p>

   <h2>{{ 'APP_ACCESS' | translate }}</h2>
    <p>{{ 'APP_ACCESS_DESC' | translate }}</p>

     <h2>{{ 'SERVICE_TERMINATION' | translate }}</h2>
    <p>{{ 'SERVICE_TERMINATION_DESC' | translate }}</p>

    <h2>{{ 'ABUSE_COMPLAINTS' | translate }}</h2>
    <ul>
       <li>{{ 'ABUSE_1' | translate }}</li>
      <li>{{ 'ABUSE_2' | translate }}</li>
    </ul>
    
   <h2>{{ 'DISCLAIMER' | translate }}</h2>
    <p>{{ 'DISCLAIMER_DESC' | translate }}</p>

    <h2>{{ 'MODIFICATION_TERMS' | translate }}</h2>
    <p>{{ 'MODIFICATION_TERMS_DESC' | translate }}</p>

    <h2>{{ 'EFFECTIVE_DATE' | translate }}</h2>
    <p><strong>{{ 'LAST_UPDATE' | translate }}</strong> 28/02/2025</p>
  </div>
</ion-content>

<ion-content *ngIf="isHistorial" style="margin-top: 20px; padding: 10px;">

  <!-- Mensaje si no hay citas -->
  <ion-item *ngIf="citas.length === 0"> 
     <ion-label> {{ 'HISTORY_NO_APPOINTMENTS' | translate }}</ion-label>
  </ion-item>

  <!-- Lista de citas -->
  <ion-card *ngFor="let cita of citas" style="margin-bottom: 10px;">
    <ion-card-header>
      <ion-card-title>{{ cita.nombreTatuador }}</ion-card-title>
      <ion-card-subtitle>
        {{ cita.dia| date:'fullDate' }} - {{ cita.hora }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>{{ 'HISTORY_LOCATION' | translate }}:</strong> {{ cita.direccion }}</p>
      <p *ngIf="cita.estilo"><strong>{{ 'HISTORY_STYLE' | translate }}:</strong> {{ cita.estilo }}</p>
    </ion-card-content>

  </ion-card>
  
</ion-content>



<ion-content [fullscreen]="true" *ngIf="isResena">
 <ion-list>
    <ion-item *ngFor="let resena of resenas">
      <ion-label>
        <h2>{{ resena.nombreTatuador }}</h2>
         <p>{{ resena.mensaje }}</p>
       <div>
          <ion-icon
            *ngFor="let star of [1,2,3,4,5]"
            [name]="resena.estrella >= star ? 'star' : 'star-outline'"
            style="font-size: 20px; cursor: pointer; color: gold;">
          </ion-icon>
        </div>
        <div style="margin-top: 8px;">
          <ion-button size="small" *ngIf="resena.imagen" (click)="verImagen(resena.imagen)">
            {{ 'REVIEW_VIEW_IMAGE' | translate }}
          </ion-button>
        </div>
        
        <ion-modal [isOpen]="imagenSeleccionada !== null">
          <ng-template>
            <div  (click)="cerrarImagen()" style="display: flex; justify-content: center; align-items: center; height: 100%; background: black;">
              <img [src]="imagenSeleccionada" style="max-width: 100%; max-height: 100%;" />
            </div>
          </ng-template>
        </ion-modal>
      </ion-label>


      <ion-button fill="clear" color="primary" (click)="setOpen(true, resena)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>{{ 'REVIEW_EDIT_TITLE' | translate }}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
             <div style="display: flex; gap: 5px; margin-bottom: 10px;">
              <ion-icon
                *ngFor="let star of [1,2,3,4,5]"
                [name]="estrellaSeleccionada >= star ? 'star' : 'star-outline'"
                style="font-size: 30px; cursor: pointer; color: gold;"
                (click)="seleccionarEstrella(star)">
              </ion-icon>
            </div>

            <!-- Mensaje -->
            <ion-textarea
              [(ngModel)]="mensajeResena"
               placeholder="'REVIEW_WRITE_PLACEHOLDER' | translate"
              autoGrow="true">
            </ion-textarea>

            <!-- Botón -->
            <ion-button expand="block" (click)="editarResena(resena)">
              {{ 'REVIEW_EDIT_BUTTON' | translate }}
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-button fill="clear" color="danger" (click)="eliminarResena(resena)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template *ngIf="resenas.length === 0">
    <ion-text color="medium">
      <p class="ion-padding">{{ 'REVIEW_NO_REVIEWS' | translate }}</p>
    </ion-text>
  </ng-template>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="isAyuda">
  <ion-list >
    <ng-container *ngFor="let pregunta of preguntas">
      <ion-item (click)="toggleRespuesta(pregunta)">
        <ion-label>{{ pregunta.titulo }}</ion-label>
        <ion-icon slot="end" name="{{ pregunta.abierto ? 'chevron-up' : 'chevron-down' }}"></ion-icon>
      </ion-item>
      <ion-item *ngIf="pregunta.abierto">
        <ion-label style="white-space: normal; word-break: break-word;">
          {{ pregunta.respuesta }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-content [fullscreen]="true" class="content" *ngIf="isCondicion">
  
  <h1 class="title" style="margin: 5px; font-weight: bold;">{{ 'TERMS_TITLE' | translate }}</h1>
  <p class="intro-text" style="margin: 5px;">{{ 'TERMS_INTRO' | translate }}</p>
  <p class="subheading" style="margin: 5px;">{{ 'TERMS_KEY_POINTS' | translate }}</p>
  <ul class="points-list" style="margin: 5px;">
     <li>{{ 'TERMS_POINT_1' | translate }}</li>
    <li>{{ 'TERMS_POINT_2' | translate }}</li>
    <li>
      {{ 'TERMS_POINT_3' | translate }}
      <ol> 
        <li>{{ 'TERMS_POINT_3A' | translate }}</li>
        <li>{{ 'TERMS_POINT_3B' | translate }}</li>
        <li>{{ 'TERMS_POINT_3C' | translate }}</li>
        <li>{{ 'TERMS_POINT_3D' | translate }}</li>
        <li>{{ 'TERMS_POINT_3E' | translate }}</li>
        <li>{{ 'TERMS_POINT_3F' | translate }}</li>
      </ol>
    </li>
    <li>{{ 'TERMS_POINT_4' | translate }}</li>
    <li>{{ 'TERMS_POINT_5' | translate }}</li>
  </ul>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="isPrivacidad">
  <div class="container" style="margin: 5px;">
    <p>{{ 'PRIVACY_INTRO' | translate }}</p>

    <div class="section">
      <h2>{{ 'PRIVACY_SECTION_1_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_1_TEXT' | translate }}</p>
    </div>
    
    <div class="section">
      <h2>{{ 'PRIVACY_SECTION_2_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_2_TEXT' | translate }}</p>
      <ul>
        <li>{{ 'PRIVACY_SECTION_2_POINT_1' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_2' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_3' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_4' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_5' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_6' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_7' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_2_POINT_8' | translate }}</li>
      </ul>
    </div>

    <div class="section">
     <h2>{{ 'PRIVACY_SECTION_3_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_3_TEXT' | translate }}</p>
    </div>

    <div class="section">
      <h2>{{ 'PRIVACY_SECTION_4_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_4_TEXT' | translate }}</p>
    </div>
    
    <div class="section">
     <h2>{{ 'PRIVACY_SECTION_5_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_5_TEXT' | translate }}</p>
    </div>

    <div class="section">
      <h2>{{ 'PRIVACY_SECTION_6_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_6_TEXT' | translate }}</p>
      <ul>
        <li>{{ 'PRIVACY_SECTION_6_POINT_1' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_6_POINT_2' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_6_POINT_3' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_6_POINT_4' | translate }}</li>
      </ul>
    </div>
    
    <div class="section">
    <h2>{{ 'PRIVACY_SECTION_8_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_8_TEXT' | translate }}</p>
    </div>
    
    <div class="section">
     <h2>{{ 'PRIVACY_SECTION_9_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_9_TEXT' | translate }}</p>
    </div>
    
    <div class="section">
     <h2>{{ 'PRIVACY_SECTION_10_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_10_TEXT' | translate }}</p>
    </div>

    <div class="section">
      <h2>{{ 'PRIVACY_SECTION_11_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_11_TEXT_1' | translate }}</p>
      <p>{{ 'PRIVACY_SECTION_11_TEXT_2' | translate }}</p>
      <p>{{ 'PRIVACY_SECTION_11_TEXT_3' | translate }}</p>
      <ul>
        <li>{{ 'PRIVACY_SECTION_11_POINT_1' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_11_POINT_2' | translate }}</li>
        <li>{{ 'PRIVACY_SECTION_11_POINT_3' | translate }}</li>
      </ul>
    </div>

    <div class="section">
     <h2>{{ 'PRIVACY_SECTION_12_TITLE' | translate }}</h2>
      <p>{{ 'PRIVACY_SECTION_12_TEXT' | translate }}</p>
    </div>

    <p><strong>{{ 'PRIVACY_LAST_UPDATED' | translate }}</strong></p>
  </div>
</ion-content>

<ion-content *ngIf="isUSo">
  <ion-list style="padding: 10px;">
    <ion-item [routerLink]="['/ajustes', usuarioActual.uid]" [queryParams]="{ isCondicion: true }">
      {{ 'ABOUT_US_TERMS_SUMMARY' | translate }}
    </ion-item>
    <ion-item [routerLink]="['/ajustes', usuarioActual.uid]" [queryParams]="{ isCondicionUso: true }">
      {{ 'ABOUT_US_TERMS' | translate }}
    </ion-item>
    <ion-item [routerLink]="['/ajustes', usuarioActual.uid]" [queryParams]="{ isPrivacidad: true }">
      {{ 'ABOUT_US_PRIVACY' | translate }}
    </ion-item>
    <ion-item> 
      <ion-label>{{ 'ABOUT_US_VERSION_LABEL' | translate }}</ion-label>
      <ion-label> 1.2.0 </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-content *ngIf="isInformacion">
  <ion-list style="padding: 10px;">
      <ion-item (click)="showActionSheet('nombre')">
        <ion-label >
          {{ 'INFO_NAME_LABEL' | translate }}
        </ion-label>
        <ion-label class="info-label" slot="end"> {{usuarioActual.nombre}}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="showActionSheetMovil('movil')">
        <ion-label >
          {{ 'INFO_PHONE_LABEL' | translate }}
        </ion-label>
        <ion-label class="info-label" slot="end"> {{usuarioActual.movil}}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="isPago">
  <div *ngIf="isPremium; else noPago">
    <h2>{{ 'PAY_PREMIUM_MESSAGE' | translate }}</h2>
  </div>

  <!-- Si NO es premium -->
  <ng-template #noPago>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'PAY_GO_PREMIUM_TITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <p>{{ 'PAY_GO_PREMIUM_DESC' | translate }}</p>
        <ion-button expand="block" color="dark" (click)="goToPago()">
          {{ 'PAY_GO_PREMIUM_BTN' | translate }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>

