<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div style="text-align: center; margin-top: 20px; " (swipeleft)="cambiarSegmento('derecha')" (swiperight)="cambiarSegmento('izquierda')">
    <ion-segment [ngModel]="tipoCita" value="defecto" (ionChange)="citaOurgencia($event)">
      <ion-segment-button value="Citas">
        <ion-label>Citas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Urgencias" >
        <ion-label style="display: flex; align-items: center;">Urgencias
          <ion-badge style="margin-left: 5px;" *ngIf="urgencia.length != 0" color="danger" class="cart-badge">{{ urgencia.length }}</ion-badge>
        </ion-label>
        
      </ion-segment-button>
    </ion-segment>
  </div>
    <div *ngIf="tipoCita == 'Citas'">
      <ion-card class="inline-selectors">
        <ion-item lines="none" class="ion-inline">
          <ion-select [(ngModel)]="filtroDentista" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Dentista" (ionChange)="aplicarFiltro()" (ionCancel)="limpiarFiltro()">
            <ion-select-option *ngFor="let dentista of empleado" [value]="dentista.nombre">{{ dentista.nombre }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" class="ion-inline">
          <ion-select [(ngModel)]="filtroServicio" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Servicio" (ionChange)="aplicarFiltro()" (ionCancel)="limpiarFiltro()">
            <ion-select-option>1º Visita</ion-select-option>
            <ion-select-option>Endodoncia</ion-select-option>
            <ion-select-option>Limpieza</ion-select-option>
            <ion-select-option>Implantologia</ion-select-option>
            <ion-select-option>Estetica Dental</ion-select-option>
            <ion-select-option>Periodoncia</ion-select-option>
            <ion-select-option>Odontopediatría</ion-select-option>
            <ion-select-option>Exámenes de rutina</ion-select-option>
            <ion-select-option>Carillas dentales</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" style="display: flex; flex-direction: column;">
          <ion-label (click)="abrirCalendario()" *ngIf="filtroDia.length == 0"> Dia </ion-label>
          <ion-text (click)="abrirCalendario()" >{{ filtroDia | date: 'dd/MM/yyyy'}}</ion-text>
        </ion-item>
      </ion-card>
      <ion-datetime *ngIf="showCalendar" 
                        [presentation]="selectmode" 
                        [min]="today"
                        (ionChange)="seleccionaDia($event)" 
                        style="margin-top: 2em; width: 100%; margin: 0 auto;"
                        (ionChange)="aplicarFiltro()">
          </ion-datetime>
          <ion-button *ngIf="showCalendar" (click)="cancelarCalendario()" style="margin-top: 2em; width: 100%; margin: 0 auto;">Cancelar</ion-button>

      <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of citasFuturas$ | async">
        <ion-label> Nombre: {{item.nombre}}<br> Dia: {{item.dia | date: 'dd/MM/yyyy'}} Hora: {{item.hora}} <br> Dentista:{{item.dentista}}  Servicio:{{item.servicio}}</ion-label><br>
        <ion-button style="padding-top: 1em;" (click)="aceptar(item)"> Aceptar </ion-button>
        <ion-button style="padding-top: 1em;" routerLink="/editar-calendario/{{item.id}}"> Editar </ion-button>
        <ion-button style="padding-top: 1em;" (click)="eliminar(item)" color="danger"> Eliminar </ion-button>
      </ion-card>
    </div>
    
    <div *ngIf="tipoCita == 'Urgencias'">
      <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of urgencia">
        <ion-label> Nombre: {{item.nombre}} Fecha de nacimiento: {{item.fecha}}</ion-label><br>
        <ion-label> Enfermedad: {{item.enfermedad}} Medicamento: {{item.medicamento}}</ion-label><br>
        <ion-label> Embarazo: {{embarazo}} Alergias: {{item.alergias}}</ion-label><br>
        <ion-label> Sintomas: {{item.sintomas}} </ion-label><br>
        <ion-label (click)="verImagen()" *ngIf="item.imagenUrl"> Foto: Ver Imagen </ion-label><br>
        <ion-img *ngIf="mostrarImagen" [src]="item.imagenUrl" alt="Imagen del producto" style="width: 100%; height: auto; max-width: 250px; object-fit: cover;"></ion-img><br>
        <ion-button style="padding-top: 1em;" (click)="eliminarUrgencia(item)"> LLamar al {{item.movil}} </ion-button>
      </ion-card>
    </div>
    
</ion-content>
