.inline-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .datetime-container {
    position: relative;
    top: -10px; /* Puedes ajustar este valor según sea necesario */
  }