<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div style="text-align: center; margin-top: 20px; ">
    <ion-segment [ngModel]="tipoCita" value="defecto" (ionChange)="citaOurgencia($event)">
      <ion-segment-button value="Citas">
        <ion-label>Citas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Urgencias" >
        <ion-label style="display: flex; align-items: center;">Urgencias
          <ion-label *ngIf="urgencia.length != 0" style="color: gray; padding: 5px; font-size: 25px;"> ! </ion-label>
        </ion-label>
        
      </ion-segment-button>
    </ion-segment>
  </div>
    <div *ngIf="tipoCita == 'Citas'">
      <ion-card class="inline-selectors">
        <ion-item lines="none" class="ion-inline">
          <ion-select [(ngModel)]="filtroDentista" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Dentista" (ionChange)="aplicarFiltro()">
            <ion-select-option *ngFor="let dentista of empleado" [value]="dentista.nombre">{{ dentista.nombre }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" class="ion-inline">
          <ion-select [(ngModel)]="filtroServicio" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Servicio" (ionChange)="aplicarFiltro()">
            <ion-select-option value="Brackets"> Brackets</ion-select-option>
            <ion-select-option value="1Visita"> 1ºVisita</ion-select-option>
            <ion-select-option value="Implantar"> Implantar</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" style="display: flex; flex-direction: column;">
          <ion-label (click)="abrirCalendario()" *ngIf="filtroDia.length == 0"> Dia </ion-label>
          <ion-text (click)="abrirCalendario()" >{{ filtroDia | date: 'dd/MM/yyyy'}}</ion-text>
        </ion-item>
      </ion-card>
      <ion-datetime *ngIf="showCalendar" 
                        [presentation]="selectmode" 
                        [min]="today"
                        (ionChange)="seleccionaDia($event)" 
                        style="margin-top: 2em; width: 100%; margin: 0 auto;"
                        (ionChange)="aplicarFiltro()">
          </ion-datetime>
          <ion-button *ngIf="showCalendar" (click)="cancelarCalendario()" style="margin-top: 2em; width: 100%; margin: 0 auto;">Cancelar</ion-button>

      <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of citasFuturas$ | async">
        <ion-label> Nombre: {{item.nombre}} Dia: {{item.dia | date: 'dd/MM/yyyy'}} Hora: {{item.hora}} <br> Dentista:{{item.dentista}}  Servicio:{{item.servicio}}</ion-label><br>
        <ion-button style="padding-top: 1em;" (click)="aceptar(item)"> Aceptar </ion-button>
        <ion-button style="padding-top: 1em;" routerLink="/editar-calendario/{{item.id}}"> Editar </ion-button>
        <ion-button style="padding-top: 1em;" (click)="eliminar(item)" color="danger"> Eliminar </ion-button>
      </ion-card>
    </div>
    
    <div *ngIf="tipoCita == 'Urgencias'">
      <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of urgencia">
        <ion-label> Nombre: {{item.nombre}} Fecha de nacimiento: {{item.fecha}}</ion-label><br>
        <ion-label> Enfermedad: {{item.enfermedad}} Medicamento: {{item.medicamento}}</ion-label><br>
        <ion-label> Embarazo: {{embarazo}} Alergias: {{item.alergias}}</ion-label><br>
        <ion-label> Sintomas: {{item.sintomas}} </ion-label><br>
        <ion-label> Foto: {{item.foto}} </ion-label><br>
        <ion-button style="padding-top: 1em;" (click)="eliminarUrgencia(item)"> LLamar al {{item.movil}} </ion-button>
      </ion-card>
    </div>
    
</ion-content>
