<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Enviar Enlace de Restablecimiento</ion-button>
  </form>
</ion-content>
