<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="inline-selectors">
    <ion-item lines="none" class="ion-inline">
      <ion-select [(ngModel)]="filtroDentista" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Dentista" (ionChange)="aplicarFiltro()">
        <ion-select-option *ngFor="let dentista of empleado" [value]="dentista.nombre">{{ dentista.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="ion-inline">
      <ion-select [(ngModel)]="filtroServicio" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Servicio" (ionChange)="aplicarFiltro()">
        <ion-select-option value="Brackets"> Brackets</ion-select-option>
        <ion-select-option value="1Visita"> 1ºVisita</ion-select-option>
        <ion-select-option value="Implantar"> Implantar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="ion-inline">
      <ion-select [(ngModel)]="filtroDia" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Dia">
        <ion-select-option value="Brackets"> Brackets</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
    <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of citasFuturas$ | async">
      <ion-label> Nombre: {{item.nombre}} Hora: {{item.hora}} <br> Dentista:{{item.dentista}} Servicio:{{item.servicio}}</ion-label><br>
      <ion-button style="padding-top: 1em;" (click)="adelantar(item)" color="success"> -30min </ion-button>
      <ion-button style="padding-top: 1em;" (click)="retrasar(item)"> 15min </ion-button>
      <ion-button style="padding-top: 1em;" (click)="retrasar(item)"> 30min </ion-button>
      <ion-button style="padding-top: 1em;" (click)="retrasar(item)" color="danger"> 1Hora </ion-button>
    </ion-card>
</ion-content>
