<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="inline-selectors" style="display: flex; justify-content: center;">
    <ion-item lines="none" class="ion-inline">
      <ion-select [(ngModel)]="filtroDentista" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Dentista" (ionChange)="aplicarFiltro()">
        <ion-select-option *ngFor="let dentista of empleado" [value]="dentista.nombre">{{ dentista.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="ion-inline">
      <ion-select [(ngModel)]="filtroServicio" multiple="true" cancelText="Cancelar" okText="Aceptar" placeholder="Servicio" (ionChange)="aplicarFiltro()">
        <ion-select-option>1º Visita</ion-select-option>
            <ion-select-option>Endodoncia</ion-select-option>
            <ion-select-option>Limpieza</ion-select-option>
            <ion-select-option>Implantologia</ion-select-option>
            <ion-select-option>Estetica Dental</ion-select-option>
            <ion-select-option>Periodoncia</ion-select-option>
            <ion-select-option>Odontopediatría</ion-select-option>
            <ion-select-option>Exámenes de rutina</ion-select-option>
            <ion-select-option>Carillas dentales</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" style="display: flex; flex-direction: column;">
      <ion-label (click)="abrirCalendario()" *ngIf="filtroDia.length == 0"> Dia </ion-label>
      <ion-text (click)="abrirCalendario()" >{{filtroDia | date: 'dd/MM/yyyy'}}</ion-text>
    </ion-item>
  </ion-card>
  <ion-datetime *ngIf="showCalendar" 
                    [presentation]="selectmode" 
                    [min]="today"
                    (ionChange)="seleccionaDia($event)" 
                    style="margin-top: 2em; width: 100%; margin: 0 auto;"
                    (ionChange)="aplicarFiltro()">
      </ion-datetime>
      <ion-button *ngIf="showCalendar" (click)="cancelarCalendario()" style="margin-top: 2em; width: 100%; margin: 0 auto;">Cancelar</ion-button>
      <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of citasFuturas$ | async">
      <ion-label> Nombre: {{item.nombre}} Hora: {{item.hora}} <br> Dentista:{{item.dentista}} Servicio:{{item.servicio}}</ion-label><br>
      <div style="display: flex; justify-content: center;align-items: center;">
        <ion-icon name="remove-outline" (click)="adelantar(item)" style="font-size: 20px;"></ion-icon>
        <ion-input style="width: 50px;" pattern="[0-9]*" type="number" placeholder="minutos" [(ngModel)]="retraso" inputmode="numeric"></ion-input>
        <ion-icon name="add-outline" (click)="retrasar(item)" style="font-size: 20px;"></ion-icon>
      </div>
    </ion-card>
</ion-content>
