<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
  </ion-buttons>
  <ion-item>
    <ion-avatar class="raton-menu">
      <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
      </ion-img>
    </ion-avatar>
    
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Perfil </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card >
    <ion-card-header>

      <ion-item> 
        <ion-card-title style="margin: auto;"> Editar su datos </ion-card-title>
      </ion-item>


    </ion-card-header>
    <ion-card-content>

      <form style="text-align: center;" #miForm="ngForm">
        <ion-item>
          <ion-icon name="person" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input name="nombre" value="{{actualizarUser.nombre}}" [(ngModel)]="actualizarUser.nombre" minlength="4" (ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="call" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input id="movil" name="movil" value="{{actualizarUser.movil}}" [(ngModel)]="actualizarUser.movil" pattern="[0-9]{9}" (ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="at-circle" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input name="correo" value="{{actualizarUser.correo}}" [(ngModel)]="actualizarUser.correo" pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'(ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="key" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input type="password" name="password" value="{{actualizarUser.password}}" [(ngModel)]="actualizarUser.password" pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}" (ionBlur)="mostrarErrorContrasena()" (ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>
        
        
        <br>
        <ion-button (click)="editar()" [disabled]="miForm.invalid"> Editar </ion-button>
      </form>
    
    </ion-card-content>
    
  </ion-card>
</ion-content>
