<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <h1 style="font-family: 'Montserrat', sans-serif; padding: 10px; margin-left: 10px;" id="novedades">
      Las 10 novedades que nos hacen diferente
    </h1>
    <ion-modal trigger="novedades">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref (click)="cancel()"></ion-back-button>
            </ion-buttons>
            <ion-item>
              <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
                <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
                </ion-img>
              </ion-avatar>
              
            </ion-item>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item style="font-family: 'Montserrat', sans-serif;" lines="none"> Las 10 novedades que nos hacen diferente </ion-item>
          <ion-list style="padding-left: 20px;" lines="none"> 
            <ion-item class="toggle"> 1. No parecemos una clinica</ion-item>
            <ion-item class="toggle"> 2. Roof Terrace</ion-item>
            <ion-item class="toggle"> 3. Mimamos al personal</ion-item>
            <ion-item class="toggle"> 4. Plato TV</ion-item>
            <ion-item class="toggle"> 5. Mini Bar</ion-item>
            <ion-item class="toggle"> 6. Planta para niños</ion-item>
            <ion-item class="toggle"> 7. Tour Dental</ion-item>
            <ion-item class="toggle"> 8. No nos gustan las financieras</ion-item>
            <ion-item class="toggle"> 9. Somos solidarios</ion-item>
            <ion-item class="toggle"> 10. Siempre innovando</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
    
    <h1 style="font-family: 'Montserrat', sans-serif; padding: 10px; margin: 10px;" routerLink="/foto-clinica">
      Imagenes de la clinica
    </h1>

    <p>
      Mapa de la clinica con google maps
    </p>
  </ion-label>
</ion-content>
