<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title></ion-title>
  <ion-item class="center-title">
    <ion-avatar class="raton-menu">
      <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
      </ion-img>
    </ion-avatar>
    
  </ion-item>
</ion-toolbar>

<ion-content [fullscreen]="true">
  
  <ion-list style="padding: 10px;">
    <ion-item routerLink="/gestor-calendario"> Citas Pendientes <ion-icon slot="end" name="arrow-forward-outline" ></ion-icon>
    </ion-item>
    <ion-item routerLink="/dia"> Citas Aceptadas <ion-icon slot="end" name="arrow-forward-outline" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
