<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of citasAnuladas">
    <ion-label> Nombre: {{item.nombre}}<br> Dia: {{item.dia | date: 'dd/MM/yyyy'}} Hora: {{item.hora}} <br> Dentista:{{item.dentista}}  Servicio:{{item.servicio}}</ion-label><br>
    <ion-card-content style="text-align: right;"> 
      <ion-icon name="checkmark-done-outline" style="font-size: 24px;" (click)="anularCita(item)"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
