<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tienda-dental"></ion-back-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 33.8%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      <ion-icon slot="end" name="basket" routerLink="/carrito"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of product">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-img alt="producto" [src]="item.imagen"></ion-img>
        </ion-col>
        <ion-col size="5">
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{item.descripcion}}
          </ion-card-content>
          
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button (click)="anadirCarrito()"> Añadir </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
