<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/la-clinica"></ion-back-button>
  </ion-buttons>
    <ion-title></ion-title>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label>
    <ion-item class="toggle" lines="none"> Imagenes de la clinica </ion-item>
    <ion-list style="padding-left: 20px;" lines="none"> 
      <ion-item routerLink="/fotos/0" class="toggle"> Planta -1</ion-item>
      <ion-item routerLink="/fotos/1" class="toggle"> Planta 0</ion-item>
      <ion-item routerLink="/fotos/2" class="toggle"> Planta 1</ion-item>
      <ion-item routerLink="/fotos/3" class="toggle"> Planta 2</ion-item>
      <ion-item routerLink="/fotos/4" class="toggle"> Roof Terrace</ion-item>
    </ion-list>
  </ion-label>
  
</ion-content>
