<ion-app>
  <ion-router-outlet id="main-content" main></ion-router-outlet>

  <ion-content [fullscreen]="true">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/folder" style="color:white">
          <img src="assets/icon/icon.png" style="width: 32px; height: 32px;"/>
        </ion-tab-button>
        <ion-tab-button routerLink="/cita" style="color:white">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/favoritos" style="color:white">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/perfil" style="color:white">
          <ion-icon name="person-outline" *ngIf="!usuario.avatar"></ion-icon>
          <ion-avatar *ngIf="usuario.avatar">
            <ion-img [src]="usuario.avatar[0]"></ion-img>
          </ion-avatar>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>

</ion-app>
