<ion-app>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  
  
  <ion-menu color="primary" contentId="main-content" type="overlay">
    <ion-content class="custom-dropdown-menu">
      <ion-list id="inbox-list" lines="none">
        <ion-item *ngIf="change == false" routerLink="/inicio-sesion" (click)="closeMenu()">
          <ion-icon name="person-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
          Iniciar sesion
        </ion-item>
        <ion-item *ngIf="change == true" routerLink="/perfil" (click)="closeMenu()">
          {{userName}}
          <ion-icon name="log-out" slot="end" style="font-size: 30px;" (click)="logout()"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list id="inbox-list" lines="none">
        <ion-item routerLink="/la-clinica" (click)="closeMenu()">
          <ion-icon name="home" style="padding-right: 10px;"></ion-icon>
          La clinica
        </ion-item>
        <ion-item routerLink="/equipo" (click)="closeMenu()">
          <ion-icon name="people" style="padding-right: 10px;"></ion-icon>
          Cuadro Clinico
        </ion-item>
        <ion-item routerLink="/noticias" (click)="closeMenu()">
          <ion-icon name="newspaper" style="padding-right: 10px;"></ion-icon>
          Noticias
        </ion-item> 
      </ion-list>
      <ion-list lines="none">
        <ion-item *ngIf="usuario.rol == 'administrador'" routerLink="/administrador" (click)="closeMenu()">
          Gestion de datos: 
          <ion-icon slot="end" name="chevron-forward-outline" ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-item >
        <div #mapElement style="width: 100%; height: 150px; border: 1px solid #ccc; margin-bottom: 15px;" ></div>
      </ion-item>
      <ion-item lines="none" style="text-align: center;">
        <ion-label style="font-size: 12px; color: grey;">Almeida SL</ion-label>
      </ion-item>
    </ion-footer>
    
  </ion-menu>
  <ion-router-outlet id="main-content" main></ion-router-outlet>

  <ion-content [fullscreen]="true">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/tienda-dental">
          <ion-icon name="storefront-outline"></ion-icon>
          Tienda Dental
        </ion-tab-button>
        <ion-tab-button routerLink="/prediagnostico-virtual">
          <ion-icon name="pulse-outline"></ion-icon>
          Pre Diagnostico Virtual 
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>

</ion-app>
