<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-card style="margin: 2em; text-align: center; padding: 1em;" *ngFor="let item of cita">
      <ion-label> Nombre: {{item.nombre}} Fecha de nacimiento: {{item.fecha}}</ion-label><br>
      <ion-label> Enfermedad: {{item.enfermedad}} Medicamento: {{item.medicamento}}</ion-label><br>
      <ion-label> Embarazo: {{embarazo}} Alergias: {{item.alergias}}</ion-label><br>
      <ion-label> Sintomas: {{item.sintomas}} </ion-label><br>
      <ion-label> Foto: {{item.foto}} </ion-label><br>
      <ion-button style="padding-top: 1em;" (click)="aceptar(item)"> Aceptar </ion-button>
    </ion-card>
</ion-content>
