<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>

      <ion-item> 
        <ion-card-title style="margin: auto;"> Pedir Cita </ion-card-title>
      </ion-item>


    </ion-card-header>
    <ion-card-content>

      <form style="text-align: center;" #miForm="ngForm" novalidate>
        <ion-item>
          <ion-icon name="clipboard-outline" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          
          <ion-select name="servicio" label="Que servicio necesita" label-placement="stacked" [(ngModel)]="servicio" required>
            <ion-select-option> 1º Visita </ion-select-option>
            <ion-select-option> Brackets </ion-select-option>
            <ion-select-option> Limpieza </ion-select-option>
            <ion-select-option> Implantar </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon name="person-outline" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input id="nombre" name="nombre" value="{{usuario.nombre}}" [(ngModel)]="usuario.nombre" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="call-sharp" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input  name="telefono" [value]="usuario.movil" [(ngModel)]="usuario.movil" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="accessibility-sharp" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-select name="especialista" label="Dentista" label-placement="stacked" [(ngModel)]="especialista" required>
            <ion-select-option> Ninguna Preferencia </ion-select-option>
            <ion-select-option *ngFor="let opcion of empleado" [value]="opcion.nombre">{{ opcion.nombre }}</ion-select-option>
            
          </ion-select>
        </ion-item>

        <ion-item lines="none" id="dia-modal">
          <ion-icon name="calendar-outline" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-label> Dia <br> {{fechaModificada | date: 'dd/MM/yyyy'}}</ion-label>

          <ion-modal trigger="dia-modal" [isOpen]="modalAbierto">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-back-button defaultHref (click)="cancel()"></ion-back-button>
                </ion-buttons>
                  <ion-item>
                    <ion-avatar style="height: 100px; width: 100px; margin-left: 35%;">
                      <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
                      </ion-img>
                    </ion-avatar>
                  </ion-item>
                  <ion-buttons slot="end">
                    <ion-icon (click)="confirm()" name="checkmark-outline" style="padding-right: 20px; font-size: 30px;"></ion-icon>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-item>
                  <ion-datetime displayFormat="MM/DD/YYYY" [isDateEnabled]="isWeekday" presentation="date" [(ngModel)]="dia" [ngModelOptions]="{ standalone: true }" [min]="today" required>
                    <span slot="title">Seleccione su dia </span>
                  </ion-datetime>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-modal>
        
          
        </ion-item>

        <ion-item>
          <ion-icon name="calendar-number-outline" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-select name="hora" label="Horario" label-placement="stacked" [(ngModel)]="hora" required>
            <ion-select-option> 09:00 </ion-select-option>
            <ion-select-option> 10:00 </ion-select-option>
            <ion-select-option> 11:00 </ion-select-option>
            <ion-select-option> 12:00 </ion-select-option>
            <ion-select-option> 13:00 </ion-select-option>
            <ion-select-option> 16:00 </ion-select-option>
            <ion-select-option> 17:00 </ion-select-option>
            <ion-select-option> 19:00 </ion-select-option>
            <ion-select-option> 20:00 </ion-select-option>
            <ion-select-option> 21:00 </ion-select-option>
            <ion-select-option> 22:00 </ion-select-option>
          </ion-select>
        </ion-item>
        
        <br>
        <ion-button color="primary" (click)="enviar()" [disabled]="miForm.invalid" > Aceptar </ion-button>
        
      </form>
    
    </ion-card-content>
    
  </ion-card>
</ion-content>