<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-img src="../../assets/icon/o_1cj31qpibjo51a4vtqf4m65ia.png" style="width: 300px;"></ion-img>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-card >

    
      <ion-item> 
        <ion-card-title style="margin: auto;"> Cita Previa </ion-card-title>
      </ion-item>
      <form style="text-align: center;">
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="../../../assets/icon/o_1glaaj6u81utcgl26hqrpg1sbca.jpg" ></ion-img>
          </ion-avatar>
          <ion-label slot="end" style="font-size: 12px;"> Clinica Lomo los Frailes</ion-label>
          <ion-label  style="font-size: 20px;"> Pino Yañez</ion-label>
        </ion-item>
        <ion-item>
          <ion-label> Semana </ion-label>
          <ion-datetime dayValues="2,4,6,8" style="font-weight: 20px;"></ion-datetime>
        </ion-item>
        <ion-item style="padding: 8px;">
          <ion-checkbox style="padding-bottom: 10px;"> Acepto el aviso legal y la politica privacidad </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-button> Enviar Consulta </ion-button>
        </ion-item>
        
      </form>
    </ion-card>
</ion-content>