<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/equipo"></ion-back-button>
        </ion-buttons>
        <ion-item>
          <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
            <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
            </ion-img>
          </ion-avatar>
          
        </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card *ngFor="let item of especialista">
        <ion-card-header></ion-card-header>
    </ion-card>
  </ion-content>