<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/equipo"></ion-back-button>
        </ion-buttons>
        <ion-item>
          <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
            <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
            </ion-img>
          </ion-avatar>
          
        </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-img alt="trabajador" src="../../../assets/icon/o_1glabiu2f1ahd13i31lkb3vb1g8ka.jpg"></ion-img>
          </ion-col>
          <ion-col size="5">
            <ion-card-header>
              <ion-card-title>Título</ion-card-title>
            </ion-card-header>
            <ion-card-content>
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti veritatis, 
             ab quidem debitis provident quas temporibus ducimus perferendis et tempore, officia voluptatibus quis, 
             sunt perspiciatis nihil ipsam nam vero blanditiis!.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>