<ion-content [fullscreen]="true">
  <ion-card-content class="card-content">
    <ion-searchbar style="padding-top: 60px;" placeholder="Buscar" [(ngModel)]="searchTerm" (ionChange)="buscarMatches()"></ion-searchbar>
      <div class="horizontal-scroll">
        <ion-label class="titulo-grande"> Recomendados </ion-label>
        <!-- Contenedor para los cards de usuarios con conversación -->
        <ion-row *ngFor="let tipo of recomendado" size="auto">
          <ion-card class="user-card">
            <ion-img [src]=""></ion-img>
            <ion-card-header>
              <ion-card-title>{{ tipo.nombre }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-row>
      </div>
      <div class="horizontal-scroll">
        <ion-label class="titulo-grande"> Cerca de ti </ion-label>
        <!-- Contenedor para los cards de usuarios con conversación -->
        <ion-row *ngFor="let tipo of recomendado" size="auto">
          <ion-card class="user-card">
            <ion-img [src]=""></ion-img>
            <ion-card-header>
              <ion-card-title>{{ tipo.nombre }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-row>
      </div>
      <div class="horizontal-scroll">
        <ion-label class="titulo-grande"> Disponibles hoy </ion-label>
        <!-- Contenedor para los cards de usuarios con conversación -->
        <ion-row *ngFor="let tipo of recomendado" size="auto">
          <ion-card class="user-card">
            <ion-img [src]=""></ion-img>
            <ion-card-header>
              <ion-card-title>{{ tipo.nombre }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-row>
      </div>
    </ion-card-content>
    <ion-button class="floating-right big-button" shape="round" fill="solid" color="dark" routerLink="/mapa">
      <ion-icon slot="icon-only" name="navigate-circle"></ion-icon>
    </ion-button>
</ion-content>

