<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-card-content>
    <ion-item> 
      <ion-card-title style="margin: auto;"> Prediagnostico Virtual </ion-card-title>
    </ion-item>

    <form style="text-align: center;">
      <ion-item>
        <ion-icon name="person-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input placeholder="Nombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-icon name="calendar-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input placeholder="Fecha de nacimiento"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-icon name="clipboard-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input placeholder="Padece alguna enfermedad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="bag-add-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input placeholder="Medicamento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="send" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-label>Embarazada</ion-label>
        <ion-radio-group value="end">
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-radio> Si</ion-radio>
              </ion-col>
              <ion-col col-6>
                <ion-radio value="end"> No</ion-radio>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
        
      </ion-item>

      <ion-item>
        <ion-icon name="bandage-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input placeholder="Alergias"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="image-outline" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input name="foto" type="file"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button slot="end" color="primary" routerLink="/confirmar-prediagnostico" > Siguiente Paso </ion-button>
      </ion-item>
    </form>
  
  </ion-card-content>


</ion-content>