<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-card-content>
    <ion-item> 
      <ion-card-title style="margin: auto;"> Prediagnostico Virtual </ion-card-title>
    </ion-item>

    <form style="text-align: center;" #miForm="ngForm">
      <ion-item lines="none">
        <ion-icon name="person-outline" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-input name="nombre" [(ngModel)]="urgencia.nombre" placeholder="Nombre" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="person-outline" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-input name="movil" [(ngModel)]="urgencia.movil" placeholder="Telefono" required></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-icon name="calendar-outline" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-input name="fecha" [(ngModel)]="urgencia.fecha" placeholder="Fecha de nacimiento" required></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-icon name="clipboard-outline" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-input name="enfermedad" [(ngModel)]="urgencia.enfermedad" placeholder="Padece alguna enfermedad" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="bag-add-outline" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-input name="medicamento" [(ngModel)]="urgencia.medicamento" placeholder="Medicamento" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="send" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-label>Embarazada</ion-label>
        <ion-radio-group name="embarazo" [(ngModel)]="urgencia.embarazo" required>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-radio  value="true"> Si</ion-radio>
              </ion-col>
              <ion-col col-6>
                <ion-radio value="false"> No</ion-radio>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
        
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="bandage-outline" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-input name="alergias" [(ngModel)]="urgencia.alergias" placeholder="Alergias" required ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="send" style="font-size: 25px; padding-right: 10px;"></ion-icon>
        <ion-textarea name="sintomas" [(ngModel)]="urgencia.sintomas" placeholder="Sintomas que tiene" required ></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="images" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <a (click)="openFileInput()" style="text-decoration: none; color: inherit;">{{ mostrarTextoSeleccionarFoto() }}</a>
        <input type="file" #fileInput style="display: none;" (change)="nuevaImagen($event)">
      </ion-item>

      <ion-item lines="none">
        <ion-radio required> </ion-radio>
        <ion-label style="padding: 10px;"> Acepto los terminos de la empresa</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-button slot="end" color="primary" [disabled]="miForm.invalid" (click)=" aceptar()"> Confirmar </ion-button>
      </ion-item>
    </form>
  
  </ion-card-content>


</ion-content>