ion-list {
  background: transparent !important;
  margin-top: 25%;
}

ion-item {
  --background: transparent !important;
  background: transparent !important;
  --ion-item-background: transparent;
  --ion-background-color: transparent;
}