<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-equipo"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>

    <form style="text-align: center;">
      <ion-item>
        <ion-icon name="person" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input name="nombre" placeholder="Nombre" [(ngModel)]="empleado.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard-outline" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
        <ion-input id="movil" name="descripcion" placeholder="Descripcion" [(ngModel)]="empleado.descripcion"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-icon name="images" style="font-size: 30px; padding-right: 10px;"></ion-icon>
        <a (click)="openFileInput()" style="text-decoration: none; color: inherit;">{{ mostrarTextoSeleccionarFoto() }}</a>
        <input type="file" #fileInput style="display: none;" (change)="nuevaImagen($event)">
      </ion-item>
      
      <ion-item>
        <ion-select name="tipo" label="De que trabaja" label-placement="stacked" [(ngModel)]="empleado.tipo">
          <ion-select-option>Atencion al paciente</ion-select-option>
          <ion-select-option>Odontologos</ion-select-option>
          <ion-select-option>Auxiliares</ion-select-option>
          <ion-select-option>Higienistas</ion-select-option>
        </ion-select>
      </ion-item>
      
      
      <br>
      <ion-button (click)="guardar()"> Guardar nuevo </ion-button>
    </form>
  
  </ion-card-content>
</ion-content>
