<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item>
      <ion-avatar style="height: 100px; width: 100px; margin-left: 30%;">
        <ion-img alt="avatar" src="../../../assets/icon/Sin1.jpg" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Lista de productos en el carrito -->
    <ion-card>
      <ion-list *ngFor="let item of carrito; let i = index">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="#"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{item.nombre}}</h2>
            <p>Precio: {{item.precio}}€ </p>
            <script> console.log(item.precio) </script>
          </ion-label>

          <ion-icon name="remove-outline" (click)="menos()"></ion-icon>
          <label> {{cantidad}} </label>
          <ion-icon name="add-outline" (click)="mas()"></ion-icon>
          
          
          <ion-icon name="trash-outline" slot="end" (click)="eliminarDelCarrito(i)"></ion-icon>
        </ion-item>
      </ion-list>
    
      <!-- Mensaje si el carrito está vacío -->
    
      <!-- Botón para proceder al pago -->
      <ion-button expand="full" color="primary" >
        Pasarela de pago ({{precio_final}}€)
      </ion-button>
    </ion-card>
</ion-content>
