<ion-content [fullscreen]="true">

  <!-- Todo lo que se muestra antes de seleccionar un boceto -->
  <div *ngIf="!bocetoSeleccionado">

    <!-- Segmento Noticias / Explorar -->
    <ion-segment style="margin-top: 30%;" [(ngModel)]="segmentoSeleccionado" value="recientes" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="recientes">
        <ion-label>{{ 'NOTICIA' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="antiguas">
        <ion-label>{{ 'EXPLORAR' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Noticias recientes -->
    <ion-list *ngIf="segmentoSeleccionado === 'recientes'" lines="none" style="background-color: transparent;">
      <ion-card *ngFor="let noticia of noticias" class="noticia-card" (click)="abrirModal(noticia)">
        <ion-img 
          *ngIf="noticia.imagenes" 
          [src]="noticia.imagenes" 
          style="width: 100%; height: 120px; object-fit: cover; border-radius: 8px;">
        </ion-img>
        <ion-card-header>
          <ion-card-title>{{ noticia.titulo }}</ion-card-title>
          <ion-card-subtitle>{{ noticia.fecha?.toDate() | date:'short' }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-list>

    <!-- Segmento antiguas / bocetos -->
    <ion-card-content class="card-content" *ngIf="segmentoSeleccionado === 'antiguas'">
      <div #scrollContainer class="filtros-estilos" style="display: flex; overflow-x: auto; padding: 10px; gap: 10px; scroll-behavior: smooth;">
        <div *ngFor="let estilo of estilos" style="flex: 0 0 auto; text-align: center; cursor: pointer;" (click)="seleccionarEstilo(estilo)">
          <ion-avatar [style.border]="estiloSeleccionado === estilo.nombre ? '2px solid #3880ff' : '2px solid transparent'" style="width: 70px; height: 70px; margin: auto;">
            <img [src]="estilo.imagen" />
          </ion-avatar>
          <p style="font-size: 12px; margin-top: 5px; width: 80px; white-space: normal;">{{ ('STYLE.' + estilo.nombre) | translate }}</p>
        </div>
      </div>

      <div *ngIf="cargando">Cargando bocetos...</div>

      <div *ngIf="!cargando" class="bocetos-grid">
       <ion-grid *ngIf="bocetosFiltrados.length > 0">
          <ion-row>
            <ion-col size="6" size-md="4" size-lg="3" *ngFor="let boceto of bocetosFiltrados">
              <div class="boceto-card" (click)="seleccionarBoceto(boceto)">
                <img [src]="boceto.imagenUrl" alt="boceto" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Mensaje si no hay bocetos para el estilo seleccionado -->
        <div *ngIf="bocetosFiltrados.length === 0">
          No se encontró ningún boceto de este estilo.
        </div>
      </div>
      <div *ngIf="!cargando && bocetos.length === 0">
        No hay bocetos
      </div>
    </ion-card-content>

  </div> <!-- Fin de *ngIf="!bocetoSeleccionado" -->

  <!-- Detalle del boceto seleccionado -->
  <div *ngIf="bocetoSeleccionado" class="detalle-boceto" style="margin-top: 30%;">
    <ion-button (click)="volverLista()" expand="block">
      Volver
    </ion-button>

    <img [src]="bocetoSeleccionado.imagenUrl" alt="boceto" style="width: 100%; border-radius: 12px; margin-top: 10px;" />
    <div style="display: flex; flex-direction: column; gap: 15px; padding: 15px;">

      <!-- Header: Avatar + nombre y ciudad -->
      <div style="display: flex; align-items: center; gap: 15px;">
        
        <!-- Avatar -->
        <div style="width: 70px; height: 70px; border-radius: 50%; overflow: hidden; flex-shrink: 0;">
          <ion-img 
            [src]="avatarUrl" 
            alt="Avatar" 
            style="width: 100%; height: 100%; object-fit: cover; display: block;" 
            [routerLink]="['/tatuador', bocetoSeleccionado.uidTatuador]">
          </ion-img>
        </div>

        <!-- Nombre y ciudad -->
        <div style="display: flex; flex-direction: column; justify-content: center; gap: 4px;">
          <p style="margin:0; font-weight:bold;">{{ tatuador.nombreTienda }}</p>
          <p 
            style="margin: 0; font-size: 14px; color: gray; cursor: pointer;" 
            *ngIf="tatuador.ciudad" 
            (click)="abrirMaps(tatuador.ciudad)">
            {{ tatuador.ciudad }}
          </p>
          <ion-label *ngIf="bocetoSeleccionado.estilo.length !== 0">{{ 'STYLE.' + bocetoSeleccionado.estilo | translate }}</ion-label>

          <ng-container *ngIf="!bocetoSeleccionado.estilo || bocetoSeleccionado.estilo.length === 0">
            <ion-label>{{ 'NOT_SPECIFIED' | translate }}</ion-label>
          </ng-container>
        </div>

      </div>

      <!-- Descripción -->
      <p style="margin: 0; font-size: 14px; text-align: center;">
        {{ bocetoSeleccionado.descripcion }}
      </p>
      <ion-button size="small" (click)="consultaPrevia()" style="margin-top: 10px; text-align: center;">
        {{ 'PRE_CONSULTATION' | translate }}
      </ion-button>
    </div>

  </div>

</ion-content>
