.titulo-noticia {
  font-size: 1.6rem;      /* más grande */
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--ion-color-dark);
  line-height: 1.3;
}

.fecha-noticia {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
  margin-bottom: 12px;
}

.descripcion-noticia {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--ion-color-dark);
  text-align: justify;
  white-space: pre-line;
}

.boceto-card img {
  width: 100%;
  height: 200px;        /* Ajusta la altura como quieras */
  object-fit: cover;    /* Mantiene la proporción recortando si es necesario */
  border-radius: 12px;  /* Bordes redondeados */
}

.toolbar-icon {
    margin: 10px 8px;
    font-size: 24px;
  }