
.forgot-password-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    margin-top: 15px; /* Espacio superior para separar del botón de inicio de sesión */
  }
/* Contenedor del enlace "Olvidaste la contraseña" */
.forgot-password {
    text-align: center; /* Centra el enlace dentro del contenedor */
  }
  
  .forgot-password a {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    color: #007bff; /* Color del enlace, ajusta según sea necesario */
    text-decoration: none; /* Sin subrayado por defecto */
  }
  
  .forgot-password a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }