<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref (click)="irAtras()"></ion-back-button>
    </ion-buttons>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/icon.png">
        </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Al utilizar esta aplicación, aceptas que:
  </p>
  <ul>
    <li>Los datos personales que proporciones serán utilizados únicamente para la gestión de tus citas, expedientes médicos, y demás actividades relacionadas con los servicios de salud que ofrece nuestra clínica dental.</li>
    <li>No se solicitará información adicional a la necesaria para los servicios de salud, y tus datos serán tratados con la máxima confidencialidad y en conformidad con la normativa de protección de datos vigente.</li>
    <li>Tu información de contacto puede ser utilizada para recordatorios de citas, información importante sobre tus tratamientos, y comunicaciones relevantes sobre tu salud dental.</li>
  </ul>
</ion-content>