.invalid-input {
    --border-color: red;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  /* Clase para contenedor del avatar */
.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raton-menu {
  width: 110px; /* Ajusta el tamaño del avatar según lo necesario */
  height: 110px;
}

ion-toolbar {
  --padding-start: 0px;
  --padding-end: 0px;
}