<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item class="center-title">
      <ion-avatar class="raton-menu">
        <ion-img alt="avatar" src="../../../assets/icon/favicon.png" routerLink="/folder">
        </ion-img>
      </ion-avatar>
      
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

      <ion-item> 
        <ion-card-title style="margin: auto;"> Registrarse </ion-card-title>
      </ion-item>


    </ion-card-header>
    <ion-card-content>

      <form style="text-align: center;" #miForm="ngForm">
        <ion-item [class.invalid-input]="nombreInvalido">
          <ion-icon name="person" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input [(ngModel)]="crearUser.nombre" name="nombre" placeholder="Nombre" required minlength="4" (ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>

        <ion-item [class.invalid-input]="movilInvalido">
          <ion-icon name="call" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input id="movil" [(ngModel)]="crearUser.movil" name="movil" placeholder="Movil" required pattern="[0-9]{9}" (ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>
        
        <ion-item [class.invalid-input]="correoInvalido">
          <ion-icon name="at-circle" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input [(ngModel)]="crearUser.correo" name="correo" placeholder="Correo" required pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'(ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>
        
        <ion-item [class.invalid-input]="passwordInvalido">
          <ion-icon name="key" style=" font-size: 30px; padding-right: 10px;"></ion-icon>
          <ion-input type="password" [(ngModel)]="crearUser.password" name="password" placeholder="Contraseña" required pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}" (ionBlur)="mostrarErrorContrasena()" (ngModelChange)="validacionFormulario()"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-checkbox 
            class="small-label" 
            [(ngModel)]="terminosAceptados" 
            [ngModelOptions]="{ standalone: true }" >
          </ion-checkbox>
          <ion-label style="font-family: 'Montserrat', sans-serif; padding: 10px; margin-left: 10px;" >
            Acepto los <a routerLink="/terminos"> términos y condiciones </a>
          </ion-label>
          </ion-item>
        
        <br>
        <ion-button color="primary" (click)="guardar()" [disabled]="miForm.invalid"> Aceptar </ion-button>
        <ion-button routerLink="/inicio-sesion" color="primary">Iniciar Sesion</ion-button>
        
      </form>
    
    </ion-card-content>
    
  </ion-card>
  
</ion-content>
