/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

@media screen and (min-width: 500px) {
    .raton-menu {
        height: 100px; width: 100px; margin-left: 40%;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 500px) {
    .raton-menu {
        height: 100px; width: 100px; margin-left: 30%;
    }
  }

  @media screen and (max-width: 400px) {
    .raton-menu {
        height: 100px; width: 100px; margin-left: 25%;
    }
  }


  /* Estilos generales para el splash screen */
#splash-screen {
  position: fixed;            /* Hace que el splash screen cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw;               /* Asegura que el ancho sea del 100% del viewport */
  height: 100vh;              /* Asegura que la altura sea del 100% del viewport */
  background-color: black;    /* Fondo negro para cuando el video no se carga o es pequeño */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;              /* Mantiene el splash screen por encima de otros elementos */
}

/* Estilos para el video */
#splash-screen video {
  width: 100%;                /* Asegura que el video ocupe el ancho completo */
  height: 100%;               /* Asegura que el video ocupe la altura completa */
  object-fit: cover;          /* Corta el video para llenar toda la pantalla sin distorsión */
  object-position: center;    /* Centra el video */
}

ion-app, ion-content {
  --background: none;
  background: url("assets/img/fondo.jpg") no-repeat center center / cover;
}

