<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-sin-fondo" style="margin: 10px;">
    <ion-icon style="font-size: 30px;" class="toolbar-icon" slot="start" name="close-circle-outline" (click)="volver()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content class="card-content">
   <div class="horizontal-scroll">
      <ion-card class="user-card" 
          *ngFor="let producto of productos" 
          [class.selected]="selectedPlanId === producto.id"
          (click)="selectPlan(producto)">

        <ion-label style="color: black;">Plan Sin Anuncios</ion-label>

        <ion-list *ngIf="producto.id === 'sin_anuncios:sin-anuncios'">
          <ion-item>Sin Anuncios<ion-icon slot="end" name="checkmark-outline" color="black"></ion-icon></ion-item>
        </ion-list>

        <ion-item class="price-item" lines="none">{{ producto.precio }}</ion-item>
      </ion-card>
    </div>
  </ion-card-content>

  <ion-footer>
    <ion-label class="privacy-item">
      Su suscripción se renovará automáticamente por el mismo precio y periodo, hasta que la canceles en la Play Store o App Store. Estarás aceptando nuestros 
      <a [routerLink]="['/ajustes', usuarioActual.uid]" [queryParams]="{ isPrivacidad: true }">Términos y Condiciones</a>.
    </ion-label>
    <ion-button expand="full" (click)="pagar()">{{ buyText }}</ion-button>
  </ion-footer>
</ion-content>

