.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  ion-card {
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  ion-list {
    background: transparent !important; /* Asegura que el fondo sea transparente */
  }
  
  ion-item {
    font-size:12px;
    --background: transparent !important; /* Elimina el fondo del ion-item */
    --ion-item-background: transparent !important; /* Otra propiedad que puede afectar el fondo */
    color: black; /* Asegura que el texto sea visible */
  }
  
  
  ion-footer {
    margin-top: auto; /* Esto empuja el footer al fondo */
    padding: 20px;
    text-align: center;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-label {
    font-size: 16px;
    text-align: center;
  }
  
  .toolbar-sin-fondo {
    --background: transparent;   /* fondo transparente */
    --ion-toolbar-box-shadow: none;  /* elimina la sombra inferior */
  }


  .user-card {
    flex-shrink: 0;
    width: 280px; /* Aumenta aún más el tamaño de las tarjetas */
    height: 450px; /* Aumenta la altura */
    margin-right: 20px; /* Espaciado entre tarjetas */
    display: inline-block; /* Asegura que las tarjetas estén en fila */
    border-radius: 12px;
    border: 2px solid white;
    background-color: #f4f4f4; /* Color de fondo de las tarjetas */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .horizontal-scroll {
    display: flex; /* Asegura que los hijos estén en fila */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Previene el salto de línea */
    padding: 10px 0; /* Espaciado vertical */
    gap: 20px; /* Espaciado entre los elementos dentro del scroll */
    width: 100%;
  }
  
  /* Ocultar la barra de desplazamiento en navegadores WebKit */
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Ocultar la barra de desplazamiento en Firefox */
  .horizontal-scroll {
    scrollbar-width: none; /* Firefox */
  }
  
  /* Para navegadores de Microsoft */
  .horizontal-scroll {
    -ms-overflow-style: none; /* Internet Explorer y Edge */
  }

  .privacy-item a {
    color: grey;
    text-decoration: none;
    font-size: 12px;

  }

  .privacy-item {
    color: grey;
    font-size: 12px;
  }

  .card-content{
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .price-item {
    position: absolute;
    bottom: 10px; /* Distancia desde la parte inferior */
    left: 10px; /* Distancia desde la izquierda */
    font-weight: bold;
  }
  